*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
}

/* body{
    height: 100vh;
    
} */

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body, html {
    overflow-x: hidden;
}


/* HEADER */

header{
    position: relative;
    padding: 0 0rem;
    background-image: url(Priyatam.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.navbar-background {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 2px;
    width: 100%;
    padding: 0 2rem;
    display: flex;
}

.navbar{
    width: 100%;
    height: 60px;
    /* max-width: 1200px; */
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo p{
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px #ceff1f solid;
    padding: 4px 8px;
    background: rgba(205, 225, 50, 0.662);
    backdrop-filter: blur(15px);
    border-radius: 40px;
    box-shadow: 0px 0px 10px 6px #fffb00, 0px 0px 10px 10px #0b23ff;
}

.navbar .nav-links {
    display: flex;
    width: 65%;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    

}

.navbar .nav-links li {
    height: 20px;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
}

.navbar .nav-links li a:hover{
    background: whitesmoke;
    color: blue;
    border: 1px #F2F2F2 solid;
    border-radius: 40px;
    padding: 0 8px;
    margin-left: -4px;
    box-shadow: 0px 0px 10px 6px #fffb00, 0px 0px 10px 10px #0b23ff;
    font-size: 19px;
    text-align: center;
    justify-content: center;
}



.navbar .toggle_btn{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    display: none;
}


/* DROPDOWN */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(0, 0, 0, 0.63);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 222;
}

.dropdown_menu.open{
    height:245px;
    z-index: 10;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 40px;
    padding-bottom: 2px;
    z-index: 6;
}

.navbar .dropdown_menu li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
}

.dropdown_menu li a:hover{
    background: whitesmoke;
    color: blue;
    border: 1px #F2F2F2 solid;
    border-radius: 40px;
    padding: 4px 4px;
    box-shadow: 0px 0px 10px 6px #fffb00, 0px 0px 10px 10px #0b23ff;
    font-size: 19px;
    text-align: center;
    justify-content: center;
}


/* Introduction section */

.hero-text {
    /* font-size: unset; */
    height: calc(100vh-60px);
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    
    z-index: 2;
   
    /* top: 90%; */
    /* left: 50%; */
    transform: translate(0%, 40%);
    text-align: center;
    justify-content: center;
  }
  
  .hero-text h1 {
    font-size: 9vmin;
    margin-top: 0px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 6vmin;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 30px;
  }


/* RESPONSIVE */

@media (max-width:992px) {
  .navbar .nav-links {
      display:none;
  }

  .navbar .toggle_btn{
      display: block;
  }
  
  .dropdown_menu{
      display: block;
      
  }
  .navbar .logo p{
      font-size: 1.2rem;
  }

  .hero-text {
    transform: translate(0%, 45vh);
  }

  .hero-text h1{
    margin: 0 -60px;
    font-size: 6vmin;
    margin-bottom: 20px;
  }

  .hero-text p{
    font-size: 1.4rem
  }
}

@media (max-width:576px) {
  .dropdown_menu{
      left: 2rem;
      width: unset;
  }
  .navbar .logo p{
      font-size: 1.2rem;
  }

}


  section{
    width: 90%;
    margin: 80px auto;
}

  /* Education Section */
.education-section {
    background-color: #f2f2f2;
    padding: 50px 0;
    /* background-image: url("self1.png"); */
    background-repeat: repeat;
    background-size: 100%;
    
  }
  
  .education-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 8vmin;
    color: rgb(0, 0, 0);

  }
  
  .education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .education {
    width: 100%;
    max-width: 400px;
    margin: 0 20px 40px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
  }
  
  .education h3 {
    margin-top: 0;
  }
  
  .education-info p {
    line-height: 1.5;
  }
  
  .education-img img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .degree {
    font-size: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .education {
      width: calc(50% - 40px);
    }
  }

  /* Skills */

.skills-section {
    background-color: #f2f2f2;
    padding: 50px 0;
  }
  
.skills-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 8vmin;
  }
  
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.skill {
    width: 100%;
    max-width: 400px;
    margin: 0 20px 40px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
  }
  
.skill img {
    max-width: 100%;
    height: auto;
  }
  
.skill h3 {
    font-size: 20px;
    margin: 20px 0 10px;
  }
  
.skill p {
    line-height: 1.5;
  }
  
@media screen and (min-width: 768px) {
    .skill {
      width: calc(33.33% - 40px);
    }
  }

  /* Project Sections */

.projects-section {
    background-color: #f2f2f2;
    padding: 50px 0;
  }
  
.projects-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 8vmin;
  }
  
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.project {

    width: 100%;
    max-width: 400px;
    margin: 0 20px 40px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
  }
  
.project img {
    max-width: 100%;
    height: auto;
  }
  
.project h3 {
    font-size: 20px;
    margin: 20px 0 10px;
  }
  
.project p {
    line-height: 1.5;
  }
  
.project-button {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    bottom: 0;
    transition: all 0.3s ease;
  }

  .project-button:hover {
    background-color: #e9e613;
  }

  .project-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
@media screen and (min-width: 768px) {
    .project {
      width: calc(33.33% - 40px);
    }
  }
  


/* Event Sections */

.events-section {
  background-color: #F2F2F2;
  padding: 50px 0;
  text-align: center;
}

.events-section h2 {
  font-size: 8vmin;
}

.event-container {
  /* max-width: 2300px; */
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.event {
  width: 100%;
  max-width: 400px;
  margin: 0 20px 40px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  /* text-align: center; */
  
}



/* .event:hover {
  transform: translateY(-10px);
} */

.event img {
  max-width: 100%;
}

.event h3 {
  margin-top: 20px;
  font-size: 20px;
}

.event p {
  /* font-size: 4vmin; */
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 20px;
}

.event-link {
  display: inline-block;
  background-color: #0077B5;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

video {
  /* padding: -10px auto; */
  width: 100%;
  height: auto;
  
}


.event-link:hover {
  background-color: #0e8c00;
}



@media screen and (min-width: 768px) {
  .event {
    width: calc(33.33% - 40px);
  }
}

/* Contact Section */

.contact-section {
    background-color: #f2f2f2;
    padding: 50px 0;
  }
  
  .contact-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 8vmin;
  }
  
  .contact-container {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact-info {
    width: 100%;
    /* max-width: 1000px; */
    display: flex;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
    justify-content: center;
  }
  
  .contact-info p {
    padding-top: 12px;
    padding-left: 8px;
    /* line-height: 1.5; */
    margin: 0;
    font-size: 18px;
    font-weight: 500px;
    text-decoration: none;
  }
  .gmail-icon {
    max-height: 50px;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  .social-media img {
    max-width: 50px;
    margin: 0 10px;
  }
  
  @media screen and (max-width: 768px) {
    .contact-info {
      width: 90%;
    }
    .contact-info p {
      padding-top: 10px;
      padding-left: 8px;
      font-size: 12px;
    }

    .gmail-icon {
      max-height: 35px;
    }

    .social-media img {
      max-width: 35px;
      margin: 0 10px;
    }


   
  }
  

/* Mobile Device */



/* Footer Section */

.footer-design{
  background-color: #f2f2f2;
  width: 100%;
  height: 5vh;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
}
